:root {
    --bottom-bar-distance: 430px;
}

#bottom {
	position: absolute;
	width: 1920px;
	height: 300px;
	bottom: 0px;
	transition: ease-in-out 500ms;
}

#stats {
	position: absolute;
	left: 0;
	right: 0;
	bottom: -30px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: 30px;
	text-align: center;
	align-content: center;
	background-color: #161616;
	user-select: none;
	font-family: Torus;
	font-size: 15px;
	line-height: 30px;
	color: #fff;
	transition: ease-in-out 500ms;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	box-shadow: 0px 5px 20px 3px rgba(0, 0, 0, 0.4);
}

#nowPlayingContainer {
	display: none;
	position: absolute;
	font-family: Torus;
	font-weight: 900;
	right: 5px;
	bottom: 85px;
	width: 450px;
	height: 90px;
	text-align: center;
	align-content: center;
	background-color: black;
	background-size: cover;
	background-position: center center;
	box-shadow: 0px 5px 20px 3px rgba(0, 0, 0, 0.4);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	z-index: 1;
	transition: ease-in-out 500ms;
}

#overlay {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

#mapName,
#mapInfo {
	position: absolute;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-left: 20px;
	margin-right: 20px;
	left: 0;
	right: 0;
	z-index: 0;
	font-size: 18px;
	text-shadow: 0 3px 5px black;
}

#mapName {
	text-align: center;
	top: 20px;
}

#mapInfo {
	text-align: center;
	bottom: 20px;
}
#combo {
    position: absolute;
	padding: 10px 10px 10px 10px;
	text-align: center;
	margin: auto;
	border-radius: 10px;
	bottom: 10px;
	width: auto;
	font-size: 30px;
	transition: ease-in-out 500ms;
	z-index: 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	right: 1120px;
	background-color: #161616;
	text-shadow: 0 1px 3px black;
}
#pp {
    position: absolute;
	padding: 10px 10px 10px 10px;
	margin: auto;
	text-align: center;
	border-radius: 10px;
	bottom: 10px;
	width: auto;
	font-size: 30px;
	transition: ease-in-out 500ms;
	z-index: 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	left: 1120px;
	background-color: #161616;
	text-shadow: 0 1px 3px black;
}
#URmidbar{
	position: absolute;
	left: 148.5px;
	background-color: white;
	width: 4px;
	height: 30px;
	top: -10px;
	border-radius: 5px;
	transition: ease-out 500ms;
}

#avgHitError {
	position: absolute;
	width: 20px;
	height: 20px;
	top: 15px;
	left: 140.5px;
	background-image: url("../static/arrowtick.png");
	background-size: 100%;
	transition: ease-out 100ms;
	transform-origin: 50% 50%;
	-webkit-filter: drop-shadow(5px 5px 5px #222222);
	filter: drop-shadow(5px 5px 5px #222222);
}
#URbar {
	position: absolute;
	left: 810px;
	bottom: 20px;
	width: 300px;
	height: 10px;
	background-color: #daae46;
	border-radius: 5px;
	box-shadow: 0 0 9px black;
	transition: ease-in-out 1000ms;
	z-index: -1;
}

#l100 {
	position: absolute;
	height: 10px;
	width: 209.8px;
	left: 45.1px;
	background-color: #57e313;
	transition: ease-in-out 500ms;
	z-index: -1;
}

#l300 {
	position: absolute;
	height: 10px;
	width: 119.5px;
	left: 90.25px;
	background-color: #32bce9;
	transition: ease-in-out 500ms;
	z-index: -1;
}

.tick {
	position: absolute;
	top: -13.5px;
	height: 35px;
	width: 6px;
	background-color: rgba(255 255 255 / .3);
	left: 147.5px;
	border-radius: 3px;
	transition: ease-out 500ms;
	z-index: -1;
}

#URIndex {
	position: absolute;
	bottom: 65px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	font-size: 35px;
	display: block;
	font-weight: bold;
	text-align: center;
	padding: 5px 0px 5px 0px;
	color: #fff;
	transition: ease-in-out 500ms;
}
#URText{
	position: absolute;
	bottom: 40px;
	left: 0;
	right: 0;
	font-size: 23px;
	display: block;
	font-weight: lighter;
	text-align: center;
	padding: 5px 0px 5px 0px;
	color: #fff;
	transition: ease-in-out 500ms;
}

#modContainer {
	position: absolute;
	display: flex;
	justify-content: flex-end;
	flex-direction: row-reverse;
	align-items: center;
	height: 100px;
	top: 125px;
	right: 50px;
	transition: ease-in-out 500ms;
}
.bottomBar {
    position: absolute;
    bottom: 0px;
    width: 400px;
	height: auto;
    border-radius: 10px;
    background-color: #000000;
}
#recorderContainer {
	position: absolute;
	left: -600px;
	bottom: 5px;
	flex-wrap: wrap;
	align-content: center;
	width: 500px;
	height: 100px;
	margin: 20px;
	text-shadow: 0 2px 5px rgba(0, 0, 0, 1);
}

#recorder {
	display: none;
	width: 100%;
	height: 50px;
	color: white;
	font-size: 40px;
	line-height: 50px;
	font-family: Torus;
	font-weight: 900;
	transition: ease-in-out 500ms;
}

#recorderName {
	display: none;
	width: 100%;
	height: 50px;
	color: white;
	font-size: 48px;
	line-height: 50px;
	font-family: Torus;
	font-weight: 900;
	transition: ease-in-out 500ms;
}