@font-face {
	font-family: "Exo2";
	src: url("../fonts/Exo2-MediumItalic.otf");
}

@font-face {
	font-family: "GothicR";
	src: url("../fonts/GothicR.ttf");
}

@font-face {
	font-family: "GothicRD";
	src: url("../fonts/GothicRD.ttf");
}

@font-face {
	font-family: "LinotteL";
	src: url("../fonts/LinotteL.ttf");
}

@font-face {
	font-family: "Torus";
	src: url("../fonts/Torus-Regular.otf");
}

body,
html {
	padding: 0;
	margin: 0;
	overflow: hidden;
}

#main {
	font-size: 20px;
	font-family: GothicRD;
	font-weight: normal;
	color: white;
	/* background-image: url('../static/Background.jpg'); */
	/* background-color: #15151e; */
	background-size: 100%;
	width: 1920px;
	height: 1080px;
	position: relative;
	z-index: -1;
	overflow: hidden;
}

.odometer.odometer-auto-theme {
	font-family: "GothicRD", Helvetica, sans-serif !important;
	font-weight: 900 !important;
}

/* #mapBG {
	position: absolute;
	width: 100%;
	height: 100%;
	background-size: 100%;
	background-position: 50% 50%;
	z-index: -2;
	transition: ease-in-out 500ms;
	clip-path: url('#myClip');
} */

#rankingPanelBG {
	position: absolute;
	width: 100%;
	height: 100%;
	background-size: 100%;
	background-position: 50% 50%;
	z-index: -2;
	transition: ease-in-out 500ms;
	opacity: 0;
}

#top {
	position: absolute;
	width: 1920px;
	top: 5px;
	height: 125px;
	transition: ease-in-out 500ms;
}

#ava {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	width: 90px;
	height: 90px;
	transition: ease-in-out 500ms;
	background-size: 100%;
	background-position: 50% 50%;
	border-radius: 22px;
	background-repeat: no-repeat;
	z-index: -1;
}

.otherContainer {
	position: absolute;
	top: 40px;
	width: 200px;
	height: 30px;
	line-height: 30px;
	padding: 5px;
	/* background-color: #161616; */
	border-radius: 10px;
	font-size: 20px;
	font-family: "Torus";
	font-weight: 900;
	color: white;
	text-align: center;
	transition: ease-in-out 500ms;
	/* box-shadow: 0 5px 5px black; */
	text-overflow: ellipsis;
	overflow: hidden;
}

#username {
	top: 30px;
	left: 655px;
}

#playerPP {
	top: 30px;
	right: 655px;
}

.lightBar {
	position: absolute;
	top: 30px;
	width: 230px;
	height: 35px;
	padding: 5px;
	background-color: #161616;
	border-radius: 10px;
	z-index: -1;
	transition: ease-in-out 500ms;
	/* box-shadow: 0 5px 5px black; */
}

.xContainer {
	position: absolute;
	top: 65px;
	width: 120px;
	height: 30px;
	padding: 5px 0px 5px 0px;
	transition: ease-in-out 500ms;
}

#globalContainer {
	right: 700px;
	top: 75px;
}

#countryContainer {
	left: 700px;
	top: 75px;
}

.rankContainer {
	position: absolute;
	top: 0;
	width: 120px;
	height: 30px;
	line-height: 30px;
	color: white;
	/* background-color: #161616; */
	padding: 5px 0px 5px 0px;
	font-size: 18px;
	font-family: Torus;
	font-weight: 900;
	color: white;
	text-align: center;
	border-radius: 15px;
	transition: ease-in-out 500ms;
	text-shadow: 0 3px 10px black;
	/* box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4); */
}

#ranks {
	right: 0px;
	top: 5px;
}

#countryRank {
	left: 0px;
	top: 5px;
}

.flag {
	position: absolute;
	bottom: -30px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	width: 35px;
	height: 25px;
	background-color: #161616;
	background-position: center;
	background-size: 100%;
	font-size: 15px;
	color: white;
	text-align: center;
	border-radius: 5px;
	transition: ease-in-out 500ms;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
}
#global {
	background-image: url('../static/globalFlag.png');
}

#hp {
	position: absolute;
	width: 1920px;
	height: 100px;
	display: none;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../static/hp.png");
	background-size: 100%;
	background-repeat: no-repeat;
	transition: ease-in-out 100ms;
	z-index: -1;
}

#hpBG {
	position: absolute;
	width: 1920px;
	height: 100px;
	display: none;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../static/hpBG.png");
	background-size: 100%;
	background-repeat: no-repeat;
	transition: ease-in-out 100ms;
	z-index: -1;
}

.statContainer {
	position: absolute;
	padding: 5px 0px 5px 0px;
	text-align: center;
	border-radius: 10px;
	top: 30px;
	width: 220px;
	/* box-shadow: 0 5px 9px black; */
	font-family: Torus;
	font-weight: 900;
	font-size: 25px;
	transition: ease-in-out 500ms;
	/* background-color: #161616; */
	color: white;
}

#RSRP {
	position: absolute;
	top: 105px;
	left: 0;
	right: 0;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-size: 20px;
	text-shadow: 0 5px 5px rgba(0, 0, 0, 1);
	overflow: hidden;
}
#smallStats{
	width: 330px;
	height: 55px;
	font-size: 25px;
	border-radius: 10px;
	position: absolute;
	bottom: 120px;
	left: 15px;
	background-color: #161616;
	border-radius: 10px;
	transition: ease-in-out 500ms;
	z-index: -1;
}
#stars1 {
	position: absolute;
	left: 15px;
	top: 12px;
}
#bpmd{
	position: absolute;
	text-align: right;
	right: 20px;
	top: 12px;
}
#strainGraph {
	position: absolute;
	height: 120px;
	left: 8px;
	top: -120px;
	transition: ease 500ms;
	z-index: -1;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
}

#progress {
	bottom: 0px;
	position: absolute;
	width: 500px;
	height: 120px;
	overflow: hidden;
	transition: ease 100ms;
}
#canvas,
#canvasSecond {
	position: absolute;
	height: 120px;
	bottom: 0px;
}

#lowerPart {
	position: absolute;
	width: 1920px;
	height: 300px;
	bottom: 0px;
	transition: ease-in-out 500ms;
}
#accInfo {
	position: absolute;
	left:15px;
	background-image: url("../static/hits.png");
	background-size: 99%;
	bottom: 90px;
	width: 330px;
	height: 30px;
	transition: ease-in-out 500ms;
}
#hitcounter{
	position: absolute;
	display: flex;
	left: 3px;
	justify-content: space-around;
	width: 320px;
	top: 25px;
}
.text{
    display: flex;
	font-size: 25px;
    justify-content: center;
}